.progress-container
{
    width: 100%;
    background-color: lightgrey;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: 3px solid orange;
}
.progress-bar
{
    width: 0;
    height: 100%;
    background-color: orange;
    position: absolute;
    animation: progressAnimation 2s linear infinite;
    
}
.container
{
    padding: 50px 100px;
    background-color: lightgray;
}
@keyframes progressAnimation 
{
    0%
    {
        left: -100%;
        width: 20%;
    }   
    100%
    {
        left: 100%;
        width: 20%;
    }
}