@keyframes slide-In
{
    0%
    {
        opacity: 0;
        transform: translateY(100vh);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

body
{
    height: 100vh;
    margin: auto;
    background-color: rgb(233, 227, 155);
    display: block;
    align-content: center;

}
.header
{
    width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container
{

    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    flex-direction: column;  
}
.up-container
{
    display: flex;

}
.title
{

    text-align: center;
    text-transform: uppercase;
    margin: auto;
}
.calc, .book, .paper, .pallete 
{
    width: 100px;
    height: 100px;
    background-size: cover;
    transform-origin: center;
}

.calc {
    background-image: url(/img3/calc.png);
    transform: rotate(-35deg) scale(0.7);
    animation: slide-In 2s 0.5s;
    position: relative;
    top:50px;

}

.book {
    background-image: url(/img3/book.png);
    transform: rotate(-20deg);
    animation: slide-In 2s 1s;
    margin-right: 15px;
}

.paper {
    background-image: url(/img3/paper.png);
    transform: rotate(20deg);
    animation: slide-In 2s 1.5s;
    margin-left: 15px;
}

.pallete {
    background-image: url(/img3/pallete.png);
    transform: rotate(35deg) scale(0.7);
    animation: slide-In 2s 2s;
    position: relative;
    top:50px;
}

.pencil {
    width: 100px;
    height: 100px;
    background-image: url(/img3/pencil.png);
    background-size: cover;
    transform: rotate(90deg);
    animation: slide-In 2s 2.5s;
}

